*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  background: white;
}
.fr{
  float: right;
}
.fl{
  float: left;
}
a{
  color:#333;
  text-decoration: none;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
.container{
  display: block;
  max-width: 1080px;
  margin: 0 auto;
}
.clearf{
  clear:both;
}
.clearf:before,
.cleaf:after,
.container:before,
.container:after{
  content: "";
  clear:both;
  display: block;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10{
  position: relative;
  min-height: 1px;
  float:left;
}
.col-1{
  width:10%;
}
.col-2{
  width:20%;
}
.col-3{
  width:30%;
}
.col-4{
  width:40%;
}
.col-5{
  width:50%;
}
.col-6{
  width:60%;
}
.col-7{
  width:70%;
}
.col-8{
  width:80%;
}
.col-9{
  width:90%;
}
.col-10{
  width: 100%;
}
.top-header{
  height: 170px;
  background-image:url("img/2.png");
  background-position: center;
}
.top-header .header{
  background: rgba(255,255,255,0.6);
  font-size: 14px;
}
.top-header a{
  text-align: center;
}
.header .fl a,
.header .fr a{
  display: inline-block;
  width: 60px;
  line-height: 42px;
}
.header .fl a:hover,
.header .fr a:hover{
  background: rgba(255,255,255,0.7);
}
.search {
  margin-top: 78px;
}
.search button,
.search .search-bar,
.search input{
  border:0;
  outline:0;
  background: rgba(255,255,255,1);
  border-radius: 7px;
  line-height: 28px;
  color:#f25d8e;
}
.search-bar{
  border:0;
}
.top-nav{
  margin:20px 0;
}
.top-nav a,
.top-nav .side-nav{
  display: inline-block;
  position: relative;
  top:6px;
  left:0;
  vertical-align: middle;
}
.top-nav .main-nav a .num:hover{
  background: #f25d8e;
}
.top-nav .main-nav *{
  width:48px;
}
.main-nav .num{
  text-align: center;
  background: #ffafc9;
  color: #fff;
  border-radius: 5px;
  padding:1px 3px;
  line-height: 15px;
  height: 15px;
  font-size: 10px;
  width: 40px;
}
.main-nav .num-name{
  font-size: 17px;
}
.side-nav:before{
  content: "";
  width: 5px;
  height: 27px;
  background: #f25d8e;
  display: inline-block;
  margin-right:10px;
  vertical-align: middle;
}
.side-nav{
  font-size: 25px;
  font-weight: bold;
  padding: 5px 0;
}
.campaign{
  margin: 20px 0;
}
.item{
  margin-right: 15px;
  margin-top: 10px;
}
img{
  border-radius: 5px;
}
.title{
  margin-top:20px;
}
.promote .title:before{
  content:"";
  width: 5px;
  height: 27px;
  background: #f25d8e;
  display: inline-block;
  margin-right:10px;
  vertical-align: middle;
}
.promote .title{
  font-size: 24px;
  margin-right: 15px;
}
.min{
  font-size: 12px;
  color:#99a2aa;
}
.square{
  border-radius: 5px;
  background: #e5e9ef;
  line-height: 30px;
  padding: 2px 8px;
  border-radius: 5px;
}
.card {
  margin-top: 10px;
  margin-right: 15px;
}
.card *{
  margin-bottom: 8px;
  font-size: 12px;
  text-align: center;
}
.card .content{
  line-height:20px;
}
.at{
  margin-left:20px;
  color:#6d757a;
  font-size: 12px;
}
.footer{
  font-size: 15px;
  color:#6d757a;
  text-align: center;
  margin: 40px 0;
}
